Agendamento Inteligente (1).json
{
  "name": "Agendamento Inteligente",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -2544,
        -1008
      ],
      "id": "88be9faa-6cdc-4b08-8164-2abc7b53daef",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oJNOeO6xGui23zrl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é uma assistente inteligente de agendamento.\n\nSua função é analisar a solicitação do usuário e retornar APENAS um JSON válido.\n\nVocê deve identificar:\n- nome do cliente\n- data\n- horário\n- tipo de serviço\n\nFormato obrigatório:\n\n{\n  \"nome\": \"\",\n  \"data\": \"\",\n  \"horario\": \"\",\n  \"servico\": \"\",\n  \"agendar\": true\n}\n\nRegras:\n- Responda somente JSON\n- Não explique nada\n- Não use markdown\n- Não escreva texto fora do JSON\n- Se faltar informação, deixe vazio"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2592,
        -1280
      ],
      "id": "e9e6de0e-15f9-4108-a491-271b4b7cc10e",
      "name": "Agente Inteligente de Agendamento"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "dslwebdesignerpro12@gmail.com",
          "mode": "list",
          "cachedResultName": "dslwebdesignerpro12@gmail.com"
        },
        "timeMin": "={{ $json['inicio_evento '] }}",
        "timeMax": "={{ $json['fim_evento '] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1872,
        -1056
      ],
      "id": "78fe60aa-960d-492b-a4a1-781427e9ebac",
      "name": "Verificar Disponibilidade",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "IqUb4J6Jkwst9AL6",
          "name": "Agenda IA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "768843d9-e49e-4ae5-ac05-404eb2b08849",
              "leftValue": "={{$json.available}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1664,
        -1232
      ],
      "id": "4cca081b-0a4d-44e5-843a-a50f8310fc11",
      "name": "Validar Horario"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "dslwebdesignerpro12@gmail.com",
          "mode": "list",
          "cachedResultName": "dslwebdesignerpro12@gmail.com"
        },
        "start": "={{ $('Dados Normalizados').item.json['inicio_evento '] }}",
        "end": "={{ $('Dados Normalizados').item.json['fim_evento '] }}",
        "additionalFields": {
          "description": "={{ $('Dados Normalizados').item.json.telefone }} \n\n{{ $('Dados Normalizados').item.json.servico }}",
          "summary": "={{ $('Dados Normalizados').item.json.servico }}\n\n{{ $('Dados Normalizados').item.json.nome }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1440,
        -1344
      ],
      "id": "18a5841a-61eb-4f2b-ae7e-00201279b3d1",
      "name": "Cria Evento no Google Agenda",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "IqUb4J6Jkwst9AL6",
          "name": "Agenda IA"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1456,
        -1040
      ],
      "id": "8ca3ade6-a986-4be0-88f9-eb908534ce86",
      "name": "Horario Indisponivel"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -2832,
        -1248
      ],
      "id": "ea292228-6544-48d6-a693-197f88e5aa15",
      "name": "Agendamento Inteligente",
      "webhookId": "1f0533bd-21a4-428c-a16b-26c59180dc21"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"nome\": \"João Silva\",\n  \"telefone\": \"64999999999\",\n  \"servico\": \"Consulta\",\n  \"data\": \"2026-06-10\",\n  \"horario\": \"14:00\",\n  \"agendar\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2336,
        -992
      ],
      "id": "5759a127-bca8-4c6f-b5bd-a51e790d48ae",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea9cb863-85ea-4225-9c51-44943e5fc3f5",
              "name": "=nome",
              "value": "={{ $json.output.nome }}",
              "type": "string"
            },
            {
              "id": "1afe28a3-92e1-44b3-bbf6-c70db79c7df4",
              "name": "telefone",
              "value": "={{ $json.output.telefone }}",
              "type": "string"
            },
            {
              "id": "121e0bb6-04a2-4307-80d8-1799927f5c58",
              "name": "servico",
              "value": "={{ $json.output.servico }}",
              "type": "string"
            },
            {
              "id": "a6da339d-0899-47a5-9e71-59440b5ee3f9",
              "name": "data",
              "value": "={{ $json.output.data }}",
              "type": "string"
            },
            {
              "id": "6353afc8-4040-4be0-9b6b-0c76feabee0e",
              "name": "horario",
              "value": "={{ $json.output.horario }}",
              "type": "string"
            },
            {
              "id": "0fdaf3b4-d04c-47c8-a9e5-f48969776af0",
              "name": "agendar",
              "value": "={{ $json.output.agendar }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2240,
        -1248
      ],
      "id": "b88b8d2d-b87f-4b02-9b4e-98fa0cf792e3",
      "name": "Dados Tratados"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3ad97cc-4b31-41f0-903a-e14d45618d85",
              "name": "=data_iso",
              "value": "={{ $json.data.split('/').reverse().join('-') }}",
              "type": "string"
            },
            {
              "id": "6f74bd4d-b1f8-4e94-8c11-2737697731fc",
              "name": "inicio_evento ",
              "value": "={{ $json.data.split('/').reverse().join('-') + 'T' + $json.horario + ':00' }}",
              "type": "string"
            },
            {
              "id": "62fedbe1-e425-44a5-9aeb-371f1f3699dc",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "240e1860-71ec-4dd7-bdc9-f6c304622a10",
              "name": "telefone",
              "value": "={{ $json.telefone }}",
              "type": "string"
            },
            {
              "id": "0dffefc4-6f7d-4a2b-913f-d20d2da0ee67",
              "name": "servico",
              "value": "={{ $json.servico }}",
              "type": "string"
            },
            {
              "id": "9fd250d6-6e45-4e29-a3d3-be195d71cdcf",
              "name": "agendar",
              "value": "={{ $json.agendar }}",
              "type": "boolean"
            },
            {
              "id": "72c7f251-0a06-43a8-bc0a-beb4e448dbcd",
              "name": "fim_evento ",
              "value": "={{ $json.data.split('/').reverse().join('-') + 'T15:00:00' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2080,
        -1056
      ],
      "id": "e3db00f5-ab2b-46ca-beec-7873c634ffb7",
      "name": "Dados Normalizados"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Inteligente de Agendamento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Inteligente de Agendamento": {
      "main": [
        [
          {
            "node": "Dados Tratados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Disponibilidade": {
      "main": [
        [
          {
            "node": "Validar Horario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Horario": {
      "main": [
        [
          {
            "node": "Cria Evento no Google Agenda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Horario Indisponivel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendamento Inteligente": {
      "main": [
        [
          {
            "node": "Agente Inteligente de Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agente Inteligente de Agendamento",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Dados Tratados": {
      "main": [
        [
          {
            "node": "Dados Normalizados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Normalizados": {
      "main": [
        [
          {
            "node": "Verificar Disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b0ad0c89-61b0-40fe-b47e-ba811ce92817",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3eccdcfd184e2acf87f1adf8f45c1e7266abd9277380bc359231db04e2554577"
  },
  "id": "QFPvpyscgN7j8SYJ",
  "tags": []
}